:root {
    --color-header: black;
    --color-about-me:black;    
    --color-text: hsl(0, 0%, 100%);
    --font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    font-size: 1.2rem;
    font-family: var(--font);
  }
  
  body {
    display: grid;
    background-color:black;
    grid-template-rows: 10% 85% 5%;
    grid-template-columns: repeat(4,1fr);
    height: 100vh;
    margin:0;
    
    
    
  }
  
  h1{
    text-align:center;
    color:white;
  }
   
   header {
    padding: 1rem;
    grid-column:1/5;
    grid-row:1/1;
    background-color: var(--color-header);
    color: var(--color-text);
    text-align: center;
  }
   

   nav:first-child {
    visibility: visible;
  }
  
  nav > * + * {
    visibility: visible;
  } 
  
  nav {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
  }
  
  nav a {
    display:flex;
   
    text-decoration: none;
    color: var(--color-text);
    transition: transform 0.2s;
  
  }
  
  a:hover {
    transform: scale(1.2);
  }
  
 #profile_pic{
    grid-column:1/2;
    grid-row:1/2;
    background-color:purple;
    padding-left:20px;
    padding-right:20px;
 }
  
   main {
    
    grid-column:1/5;
    grid-row:2/4;
    display: grid;
    
  } 
  #main_content{
    grid-column:2/4;
    grid-row:1/3;
    text-align:center;
    background-color:var(--color-about-me);
    color:var(--color-text);

  }
   #menu-container label, #hamburger-icon {display:none;}
  
  #contacts {
    grid-column:1/2;
    grid-row:2;
   
    text-align:center;
    background-color:black;
    color:white;
   
  }
  #contacts a{
    text-decoration-line:none;
    border:1px white solid;
    border-radius:10px;
    color:white;
    background:blue;
    
    transition: transform 0.2s;
  }  

  @media screen and (max-width: 750px) {
   
    body {
         display: flex;
        flex-direction:column; 
        
      
        height: 100vh;
        width:100vw;
        margin:0;
      } 
    header {
        display:flex;
        background-color:black;
    }
    nav {
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
      }
    nav a {
        box-sizing: border-box;
        display:block;
        width: 100vw;
        border-top: solid 2px white;

      }
      #menu-container label {
        color:white;
        
        display:inline-block;
        font-style:normal;
        font-size:1.2em;
        
      }
      
      #menu-container a  {display: none;}
     
      #menu-container input:checked ~ a {display:block;}
      
      
    #pfp{
        width:100px;
        height:100px;
        
    }
    #profile_pic h1 {
        text-align:left;
    }
    #profile_pic{
        
        background-color:purple;
        padding-left:20px;
        padding-right:20px;
     }
     #contacts {
        grid-column:2/4;
        grid-row:1/1;
       
        text-align:center;
        background-color:black;
        color:white;
      }

      #main_content{
       
        grid-column:1/4;
        grid-row:2;
        padding-top:50px;
        height:100vh;
        
        text-align:center;
        background-color:var(--color-about-me);
        color:var(--color-text);
      }
      

     
      
     
      

    
  }